@use '../../assets/scss/global/breakpoints' as *;
@use '../../assets/scss/global/variables' as *;

.skp-team-member {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include breakpoint(tablet) {
    }

    @include breakpoint(laptop) {
    }

    @include breakpoint(desktop) {
    }

    &__image {
        height: 400px;
        max-height: 480px;
        object-fit: cover;
        object-position: top;
    }
}
