@use 'breakpoints' as *;
@use 'variables' as *;
@use 'fonts' as *;


.footer {
    margin-top: 120px;
    
    background-color: $off-white;
    font-size: $font-size-sm;
    padding: 40px 0;

    @include breakpoint(laptop) {
        padding: 160px 16px;
    }
    
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    &__navigation {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include breakpoint(laptop) {
            flex-direction: row;
            gap: 40px;
        }

        a {
            color: $black;
        }
    }

    &__child-container {
        display: flex;
        justify-content: space-between;
    }


    &__some {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include breakpoint(laptop) {
            flex-direction: row;
            gap: 40px;
        }

        &--instagram {
            display: block;
            content: "";
            height: 24px;
            width: 24px;
            background-image: url('../icons/instagram.svg');
            background-position: center;
            background-repeat: no-repeat;
            object-fit: cover;
        }

        &--linkedin {
            display: block;
            content: "";
            height: 24px;
            width: 24px;
            background-image: url('../icons/linkedin.svg');
            background-position: center;
            background-repeat: no-repeat;
            object-fit: cover;
        }
    }

    .custom-logo {
        width: 100%;
        max-height: 28px;

        filter: brightness(0);
    }
}