@use 'breakpoints' as *;
@use 'variables' as *;
@use 'fonts' as *;

.header {
    position: sticky;
    z-index: 2;
    margin-bottom: 24px;
    background-color: $off-white;
    top: -80px;
    transition: .3s;
    
    @include breakpoint(tablet) {
        padding: 0 16px;
    }

    @include breakpoint(laptop) {
        top: -120px;
        margin-bottom: 32px;
    }

    @include breakpoint(desktop) {
        margin-bottom: 80px;
    }

    &--contact {
        background-color: $dark-green;
    }

    &--show {
        top: 0px;
    }
    
    a {
        font-weight: 500;
        transition: .2s;
        color: $black;

        &:hover {
            transition: .2s;
            color: $yellow;
        }
    }

    &__inner {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint(laptop) {
            height: 120px;
        }
    }

    &__burger {
        display: flex;
        flex-direction: column;
        gap: 4px;
        
        @include breakpoint(laptop) {
            display: none;
        }

        &--contact {
            color: $off-white;
        }
    }

    &__navigation {
        display: none;
        
        @include breakpoint(tablet) {
        }
        
        @include breakpoint(laptop) {
            display: flex;
            gap: 40px;
        }

        @include breakpoint(desktop) {
        }
    
        &--contact {
            a {
                color: $off-white;
            }
        }
    }

    .header__mega-menu-container {
        position: fixed;
        background-color: $off-white;
        top: 80px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100dvh;
        opacity: 0;
        visibility: hidden;   
        transition: opacity 0.2s ease, visibility 0.2s ease;
        align-items: center;
        padding: 16px 0;
        text-align: end;

        &--contact {
            background-color: $dark-green;

            a {
                color: $off-white;
            }
        }

        &--toggled {
            opacity: 1;
            visibility: visible;

            @include breakpoint(laptop) {
                display: none;
            }   
        }

        a {
            font-size: $font-size-5xl;
            font-weight: bold;
        }
    }

    &__mega-menu-some-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: end;
        margin-top: 32px;
    }

    .custom-logo {
        width: 100%;
        max-height: 28px;
        filter: brightness(0);

        &--contact {
            filter: unset;
        }
    }
}