@use 'breakpoints' as *;
@use 'variables' as *;

.page-heading {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(tablet) {
        gap: 40px;
    }

    &__title {

        &::after {
            content: ".";
            color: $yellow;
        }
    }

    hr {
        flex: 1;
    }

    &__icon {
        display: block;
        content: "";
        height: 24px;
        width: 24px;
        background-size: contain;
        background-image: url('../icons/hex.svg');
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
    }
}