$breakpoint-mobile: 480px;  
$breakpoint-tablet: 768px;  
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1280px; 

$yellow: #EE9A32;
$off-white: #FEFFF1;
$green: #4E7353;
$dark-green: #2D342A;
$bean: #330A09;