@use '../../assets/scss/global/breakpoints' as *;
@use '../../assets/scss/global/variables' as *;

.skp-animated-text {

    &__value {
        font-size: $font-size-5xl;
        font-weight: bold;
        line-height: 100%;
    
        @include breakpoint(tablet) {
            font-size: $font-size-7xl;
        }
    
        @include breakpoint(laptop) {
            font-size: $font-size-8xl;
        }
    
        @include breakpoint(desktop) {
            font-size: $font-size-9xl;
        }
    }
}