@use 'variables' as *;
@use 'breakpoints' as *;

.body {
    font-family: 'NeueMontreal', sans-serif;
    background-color: $off-white;
    position: relative;

    &--contact {
        background-color: $dark-green;
    }
}