@use 'breakpoints' as *;

.skp-margin-s { 
    margin-bottom: 1.875rem; /* mobile ~30px */

    @include breakpoint(tablet) {
        margin-bottom: 2.8rem; /* tablet ~45px */
    }

    @include breakpoint(laptop) {
        margin-bottom: 3.25rem; /* laptop ~52px */
    }

    @include breakpoint(desktop) {
        margin-bottom: 3.75rem; /* desktop 60px */
    }
}

.skp-margin-m { 
    margin-bottom: 3rem; /* mobile ~48px */

    @include breakpoint(tablet) {
        margin-bottom: 4rem; /* tablet ~64px */
    }

    @include breakpoint(laptop) {
        margin-bottom: 4.5rem; /* laptop ~72px */
    }

    @include breakpoint(desktop) {
        margin-bottom: 5rem; /* desktop 80px */
    }
}

.skp-margin-l { 
    margin-bottom: 5.75rem; /* mobile ~92px */

    @include breakpoint(tablet) {
        margin-bottom: 7.15rem; /* tablet ~114px */
    }

    @include breakpoint(laptop) {
        margin-bottom: 8.6rem; /* laptop ~137px */
    }

    @include breakpoint(desktop) {
        margin-bottom: 10rem; /* desktop 160px */
    }
}
