@use 'breakpoints' as *;
@use 'variables' as *;

.page-heading {
    display: flex;
    margin-bottom: 24px;
    text-transform: lowercase;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    @include breakpoint(tablet) {
        gap: 40px;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    @include breakpoint(laptop) {
        margin-bottom: 48px;
    }

    @include breakpoint(desktop) {
        margin-bottom: 80px;
    }

    &__title {

        &--contact {
            color: $off-white;
        }

        &--parent {
            display: none;

            @include breakpoint(tablet) {
                display: block;
            }
        }
    }

    &__hr {
        display: block;
        flex: 1;

        &--contact {
            background-color: $yellow;
            opacity: 1;
        }
    }

    &__icon {
        display: block;
        content: "";
        height: 24px;
        width: 24px;
        background-size: contain;
        background-image: url('../icons/hex.svg');
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;

        @include breakpoint(tablet) {
            height: 32px;
            width: 32px;
        }

        &--contact {
            filter: brightness(100);
        }
    }
}