@use 'breakpoints' as *;

.page-container {
    margin: 0 auto;
    width: 90%;
    
    @include breakpoint(tablet) {
        width: 100%;
        max-width: 720px;
    }

    @include breakpoint(laptop) {
        max-width: 1200px;
    }

    @include breakpoint(desktop) {
        max-width: 1440px;
    }
}