@use 'breakpoints' as *;
@use 'variables' as *;

.page-heading {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    @include breakpoint(tablet) {
        gap: 40px;
    }

    @include breakpoint(laptop) {
        margin-bottom: 48px;
    }

    @include breakpoint(desktop) {
        margin-bottom: 80px;
    }

    &__title {

        &::after {
            content: ".";
            color: $yellow;
        }

        &--contact {
            color: $off-white;
        }
    }


    &__hr {
        flex: 1;

        &--contact {
            background-color: $yellow;
            opacity: 1;
        }
    }

    &__icon {
        display: block;
        content: "";
        height: 24px;
        width: 24px;
        background-size: contain;
        background-image: url('../icons/hex.svg');
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;

        @include breakpoint(tablet) {
            height: 32px;
            width: 32px;
        }

        &--contact {
            filter: brightness(100);
        }
    }
}