$breakpoint-mobile: 480px;  
$breakpoint-tablet: 768px;  
$breakpoint-laptop: 1240px;
$breakpoint-desktop: 1537px; 

$yellow: #EE9A32;
$off-white: #FEFFF1;
$green: #4E7353;
$dark-green: #2D342A;
$bean: #330A09;
$white: #FFFFFF;
$black: #000000;

$transition: .3s;
$transition-slow: 1.5s;

$letter-spacing: 3px;

$font-size-xs: 0.75rem;   // 12px
$font-size-sm: 0.875rem;  // 14px
$font-size-md: 1rem;      // 16px (default body size)
$font-size-lg: 1.125rem;  // 18px
$font-size-xl: 1.25rem;   // 20px
$font-size-2xl: 1.5rem;   // 24px
$font-size-3xl: 1.875rem; // 30px
$font-size-4xl: 2.25rem;  // 36px
$font-size-5xl: 3rem;     // 48px
$font-size-6xl: 3.75rem;  // 60px
$font-size-7xl: 4.5rem;   // 72px
$font-size-8xl: 6rem;     // 96px
$font-size-9xl: 8rem;     // 128px