@use '../global/breakpoints' as *;
@use '../global/variables' as *;
@use '../global/fonts' as *;


.wp-block-columns {
    gap: 40px;

    @include breakpoint(tablet) {
        flex-direction: column;
    }

    @include breakpoint(laptop) {
        flex-direction: row;
        gap: 80px;
    }

    @include breakpoint(desktop) {
        flex-direction: row;
        gap: 120px;
    }

    .wp-block-buttons {
        margin-top: 24px;
    }
}