@use '../global/breakpoints' as *;
@use '../global/variables' as *;
@use '../global/fonts' as *;

@mixin button-with-icon($icon-path) {
  &__link {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content !important;
    background: none;
    border-style: none !important;
    padding: 0;
    letter-spacing: $letter-spacing;
    padding: 8px 24px;


    &::before {
      content: "";
      height: 24px;
      width: 24px;
      margin-right: 16px;
      background: url($icon-path) center / contain no-repeat;
    }
  }
}

.wp-block-button {
    border: solid 1px $yellow;
    border-radius: 50px;
    display: flex;

    @include button-with-icon('../icons/flower/olive/2.png');

    &__link {
        color: $yellow
    }
  }

.is-style-outline {
  .wp-block-button {
    @include button-with-icon('../icons/flower/mustard/2.png');
    
    &__link {
        color: $dark-green
    }
  }
}
