@use '../global/breakpoints' as *;
@use '../global/variables' as *;
@use '../global/fonts' as *;


.wp-block-post-template {
    gap: 32px;
    
    @include breakpoint(tablet) {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    @include breakpoint(laptop) {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }

    .wp-block-group {
        padding: 0 !important;
    }

    .wp-block-post-title a {
        color: $black;
        font-size: $font-size-md;
        font-weight: 400 !important;
    }

    .wp-block-post-date {
        font-weight: bold;
    }

    .wp-block-group {
        &__inner-container {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
    img {
        aspect-ratio: 1/1;

    }

    .wp-block-post-excerpt {
        &__excerpt {
            display: none !important;
        }

        &__more-link {
            text-transform: lowercase;
            font-weight: bold;
            display: flex;
            justify-content: end;

            &::before {
                content: "";
                height: 24px;
                width: 24px;
                margin-right: 16px;
                background: url('../icons/flower/olive/1.png') center / contain no-repeat;
            }
        }
    }
}