@use '../../assets/scss/global/breakpoints' as *;
@use '../../assets/scss/global/variables' as *;

.skp-tagline {
    display: flex;
    font-weight: bold;
    gap: 16px;
    color: $yellow;
    letter-spacing: $letter-spacing;
    font-size: $font-size-xs;

    @include breakpoint(tablet) {
        font-size: $font-size-xs;
        align-items: center; 
    }

    @include breakpoint(laptop) {
        font-size: $font-size-sm;
    }

    @include breakpoint(desktop) {
        font-size: $font-size-md;
    }

    &__image {
        height: 40px;
        width: 40px;
    }
}
