@use '../../assets/scss/global/breakpoints' as *;
@use '../../assets/scss/global/variables' as *;

.skp-project-description {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include breakpoint(laptop) {
        padding: 0 40px;
    }

    @include breakpoint(desktop) {
        padding: 0 72px;
        gap: 24px;
    }
    
    .wp-block-buttons {
        margin-top: unset !important;
    }
}
