@use '../../assets/scss/global/breakpoints' as *;
@use '../../assets/scss/global/variables' as *;

.skp-project-description {
    display: flex;
    flex-direction: column;
    gap: 16px;

    
    @include breakpoint(laptop) {
        padding: 0 32px;
    }

    @include breakpoint(desktop) {
        gap: 24px;
    }

    .wp-block-button__link {
        margin-top: unset !important;
    }
}
